BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 120

BreakBeforeBraces: Attach

PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: true

BinPackArguments: false
BinPackParameters: false

PackConstructorInitializers: CurrentLine

ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4

IndentCaseLabels: true
NamespaceIndentation: None

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false